<section id="featured" class="content-section">
    <div class="section-heading">
        <h1>Wytwarzanie<br><em>Oprogramowania</em></h1>
        <p>Podstawowe informację o wytwarzaniu oprogramowania,
            <br>niezbędne aby poszerzyć swoją wiedzę.</p>
    </div>
    <div class="section-content">
        <div class="owl-carousel owl-theme">
            <div class="item">
                <div class="image">
                    <img src="{{ asset('img/color1.jpg') }}" alt="">
                    <div class="featured-button button">
                        <a href="#projects">Czytaj dalej</a>
                    </div>
                </div>
                <div class="text-content">
                    <h4></h4>
                    <span></span>
                    <p></p>
                </div>
            </div>
            <div class="item">
                <div class="image">
                    <img src="{{ asset('img/color3.png') }}" alt="">
                    <div class="featured-button button">
                        <a href="#projects">Czytaj dalej</a>
                    </div>
                </div>
                <div class="text-content">
                    <h4></h4>
                    <span></span>
                    <p></p>
                </div>
            </div>
            <div class="item">
                <div class="image">
                    <img src="{{ asset('img/colo2.png') }}" alt="">
                    <div class="featured-button button">
                        <a href="#projects">Czytaj dalej</a>
                    </div>
                </div>
                <div class="text-content">
                    <h4></h4>
                    <span></span>
                    <p></p>
                </div>
            </div>
            <div class="item">
                <div class="image">
                    <img src="{{ asset('img/color1.jpg') }}" alt="">
                    <div class="featured-button button">
                        <a href="#projects">Czytaj dalej</a>
                    </div>
                </div>
                <div class="text-content">
                    <h4></h4>
                    <span></span>
                    <p></p>
                </div>
            </div>
            <div class="item">
                <div class="image">
                    <img src="{{ asset('img/colo2.png') }}" alt="">
                    <div class="featured-button button">
                        <a href="#projects">Czytaj dalej</a>
                    </div>
                </div>
                <div class="text-content">
                    <h4></h4>
                    <span></span>
                    <p></p>
                </div>
            </div>
            <div class="item">
                <div class="image">
                    <img src="{{ asset('img/color3.png') }}" alt="">
                    <div class="featured-button button">
                        <a href="#projects">Czytaj dalej</a>
                    </div>
                </div>
                <div class="text-content">
                    <h4></h4>
                    <span></span>
                    <p></p>
                </div>
            </div>
            <div class="item">
                <div class="image">
                    <img src="{{ asset('img/color1.jpg') }}" alt="">
                    <div class="featured-button button">
                        <a href="#projects">Czytaj dalej</a>
                    </div>
                </div>
                <div class="text-content">
                    <h4></h4>
                    <span></span>
                    <p></p>
                </div>
            </div>
            <div class="item">
                <div class="image">
                    <img src="{{ asset('img/colo2.png') }}" alt="">
                    <div class="featured-button button">
                        <a href="#projects">Czytaj dalej</a>
                    </div>
                </div>
                <div class="text-content">
                    <h4></h4>
                    <span></span>
                    <p></p>
                </div>
            </div>
            <div class="item">
                <div class="image">
                    <img src="{{ asset('img/color1.jpg') }}" alt="">
                    <div class="featured-button button">
                        <a href="#projects">Czytaj dalej</a>
                    </div>
                </div>
                <div class="text-content">
                    <h4></h4>
                    <span></span>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</section>