<section id="projects" class="content-section">
    <div class="section-heading">
        <h1>Metodyki<br><em>Zwinne</em></h1>
        <p>Zarządzanie projektami i metodyki zwinne
            <br>dowiedz się więcej</p>
    </div>
    <div class="section-content">
        <div class="masonry">
            <div class="row">
                <div class="item">
                    <div class="col-md-8">
                        <a href="img/portfolio_big_1.jpg" data-lightbox="image"><img src="{{ asset('img/colo2.png') }}" alt="image 1"></a>
                    </div>
                </div>
                <div class="item second-item">
                    <div class="col-md-4">
                        <a href="img/portfolio_big_2.jpg" data-lightbox="image"><img src="{{ asset('img/color1.jpg') }}" alt="image 2"></a>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-4">
                        <a href="img/portfolio_big_3.jpg" data-lightbox="image"><img src="{{ asset('img/color3.png') }}" alt="image 3"></a>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-4">
                        <a href="img/portfolio_big_4.jpg" data-lightbox="image"><img src="{{ asset('img/color1.jpg') }}" alt="image 4"></a>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-8">
                        <a href="img/portfolio_big_5.jpg" data-lightbox="image"><img src="{{ asset('img/color3.png') }}" alt="image 5"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>